@media all and (max-width:500px){
    #container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }
    .one > img{
        width:30%;
        height:20%;
        position: absolute;
        top: 2rem;
        right: 1rem;
    
    }

}
@media all and (min-width:500px) and (max-width:1250px) {
    #container{
        display: flex;
        flex-direction: column;

        width: 90%;
        height: 100%;
    }
    #container>div{
        width: 75%;
        margin: auto auto;
    }
    .one > img{
        width:15%;
        height:25%;
        position: absolute;
        top: 3.5rem;
        right: 5rem;
    }
}